<div class="subordinate-data">
	<h2 class="subordinate-name"><a href="#">{{name}}</a></h2>
	<h3 class="subordinate-position"><i class="glyphicon glyphicon-user"></i> {{position}}</h3>
	<small class="subordinate-id">{{id}}</small>
</div>
<div class="subordinate-additional hide row">
	<div class="col">
		<h4>Subordinates:</h4>
		<div class="subordinates-region subordinates-region-{{id}}"></div>
	</div>
	<div class="col">
		<h4>Assistants:</h4>
		<div class="assistants-region assistants-region-{{id}}"></div>
	</div>
</div>
